body {
  background-color: #D4F1F4;
}

.container-fluid-2 {
    background-color: #05445E;
    height : 150px ;
}

.middle-box {
    text-align: center;
    padding: 43px 0;
    margin: auto;
    width: 75%;
    border: 3px solid #000000;
    background-color: #858585;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.container-one {
  text-align: center;
  padding: 10px ;
  margin: auto;
  width: 35%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}

.center {
  margin: auto;
  width: 60%;
  height: 20%;
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.container-two {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 95%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}

/*.container-two {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 10%;
  padding: 5px;
  border: 3px solid #000000;
  background-color: #189AB4;
}*/

.row{
  display: flex;
}

.column {
  padding: 2%;
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
}

.spaces {
  color: #D4F1F4 ;
}

.spaces2 {
  color: #05445E;
}

.container-three {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 95%;
  height: 10%;
}

.row-2{
  display: flex;
}

.column-2 {
  padding: 2%;
  display: grid;
  grid-template-columns: 800px 800px;
}

.Pricetag {
  margin: auto;
  padding: 1%;
  background-color: #75E6DA;
  border: 2px solid #000000;
  width: 25%;
  height: 150%;
}

.container-four {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 95%;
  height: 10%;
}

.row-3 {
  display: flex; 
}

.column-3 {
  padding: 1%;
  display: grid;
  grid-template-columns: 550px 550px 550px;
}

.Pricetag2 {
  margin: 2%;
  padding: 1%;
  background-color: #75E6DA;
  border: 2px solid #000000;
  width: 25%;
  height: 100%;
}

.container-five {
  background-color: white;
  border: 1px solid #000000;
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 90%;
  height: 10%;
}

.container-six {
  text-align: center;
  padding: 10px ;
  margin: auto;
  width: 35%;
  height: 10%;
  background-color: #05445E;
}

.container-seven {
  text-align: left;
  padding: 20px;
  margin: auto;
  width: 95%;
  height: 5%;
  border: 1px solid #000000;
  background-color: #189AB4;
}