body {
  background-color: #D4F1F4;
}

.container-fluid {
    background-color: #05445E;
    height : 150px ;
}

.middle-box {
    text-align: center;
    padding: 43px 0;
    margin: auto;
    width: 75%;
    border: 3px solid #000000;
    background-color: #858585;
}

.topnav {
    background-color: #05445E;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #18a3be;
    color: black;
  }

  .topnav a.active {
    background-color: #189AB4;
    color: rgb(41, 41, 41);
  }

.container-one {
  text-align: center;
  padding: 25px 0;
  margin: auto;
  width: 35%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}

.center {
  margin: auto;
  width: 60%;
  height: 20%;
  text-align: center;
  
}

.container-two {
  text-align: center;
  padding: 50px 0;
  margin: auto;
  width: 40%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}