body {
  background-color: #D4F1F4;
}

.container-fluid-2 {
    background-color: #05445E;
    height : 150px ;
}

.middle-box {
    text-align: center;
    padding: 43px 0;
    margin: auto;
    width: 75%;
    border: 3px solid #000000;
    background-color: #858585;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.container-one {
  text-align: center;
  padding: 10px ;
  margin: auto;
  width: 35%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}

.center {
  margin: auto;
  width: 60%;
  height: 20%;
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.container-two {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 95%;
  height: 10%;
  border: 3px solid #000000;
  background-color: #189AB4;
}

/*.container-two {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 10%;
  padding: 5px;
  border: 3px solid #000000;
  background-color: #189AB4;
}*/

.row{
  display: flex;
}

.column {
  padding: 2%;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}

.spaces {
  color: #D4F1F4 ;
}